<div *ngIf="service.isOnMainPage">
  <form [formGroup]="propertiesInput" (ngSubmit)="onSubmit()">
    <input id="quantity" type="number" formControlName="quantity" placeholder="Quantity">
    <input id="calculationError" type="number" formControlName="calculationError" placeholder="Calculation Error">
    <input id="iterationQuantity" type="number" formControlName="iterationQuantity" placeholder="Iteration Quantity">
    <button class="button-submit" type="submit">LocateNode</button>
    <ngx-spinner></ngx-spinner>
  </form>


  <div *ngIf="response">
    <app-visualization [response]="response" [delimiter]="delimiter" [subtractor]="subtractor"></app-visualization>
    <app-table [response]="response"></app-table>
  </div>

  <div class="buttons">
    <button (click)="addNode()" class="button-three">Add new node</button>
    <button class="button-three"><a routerLink="/comparison" class="link-button" (click)="removeMainPage()">To advanced
      comparison</a></button>
  </div>
  <div class="graphics">
    <app-graphics [response]="response"></app-graphics>
    <app-graphics-quantity class="second-graphic" [response]="response"></app-graphics-quantity>
  </div>
</div>

<router-outlet></router-outlet>





